body{
  background-repeat: no-repeat;
  background-size: cover; 
  background-position: center;
  background-attachment: fixed;
  padding: 2%;
  background-image: url(https://marketplace.canva.com/EAELLJGrzWQ/1/0/1600w/canva-degrad%C3%AA-rosa-e-roxo-arco-%C3%ADris-fundo-virtual-para-zoom-iel7Rj8nbDg.jpg);
}
  
  img{
      border-radius: 50%;
  }

  .imagemPokemon{
    display: flex;
    justify-content: end;
  }

  .info{
      display: flex;
      justify-content: space-between;
      font-family: 'Secular One', sans-serif;
  }

  .nome{
      font-size: 300%;
      margin-top: 15%;
  }

  .infoPessoais{
    font-family: 'Secular One', sans-serif;
    width: 50%;
  }

  .divGigante{
      display: flex;
      margin-top: 2%;
  }

  .formacaov{
    font-family: 'Secular One', sans-serif;
  }

  .experiencia{
    display: flex;
    width: min-content;
    font-size: 100%;
    gap: 5%;
  }

  .fa-briefcase{
    margin-top: 18%;
  }

  .bi-award-fill{
    margin-top: 18%;
  }

  .habilidades{
    display: flex;
    width: min-content;
    font-size: 100%;
    gap: 5%;
  }

  .divGigantev2{
    width: 50%;
  }




