
body{
  background-repeat: no-repeat;
  background-size: cover; 
  background-position: center;
  background-attachment: fixed;
  padding: 2%;
}

  /*fundo tela*/
  body{
    background-image: url(https://marketplace.canva.com/EAELLJGrzWQ/1/0/1600w/canva-degrad%C3%AA-rosa-e-roxo-arco-%C3%ADris-fundo-virtual-para-zoom-iel7Rj8nbDg.jpg);
  }
  
  img{
      border-radius: 50%;
  }

  .imagemPokemon{
    display: flex;
    justify-content: end;
  }

  .info{
      display: flex;
      justify-content: space-between;
      font-family: 'Secular One', sans-serif;
  }

  .nome{
      font-size: 300%;
      margin-top: 15%;
  }

  .infoPessoais{
    font-family: 'Secular One', sans-serif;
    width: 50%;
  }

  .divGigante{
      display: flex;
      margin-top: 2%;
  }

  .formacaov{
    list-style: none;
    font-family: 'Secular One', sans-serif;
  }


  .formacao{
    display: flex;
    float:right;
    width: 50%;
  }

  .experiencia{
    display: flex;
    font-size: 100%;
    gap: 1%;
  }


